$green-color: #88b04b;
$red-color: #D05353;
$black-color: #191919;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-image: url("../../img/pizza-background.jpg");
    background-size: cover;
}
  
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px auto 0px;
    word-break: break-all;
    border: 0px solid $black-color;
}

.bloc-tabs {
    display: flex;
    background: white;
}

.tabs {
    padding: 20px;
    text-align: center;
    width: 50%;
    background: $black-color;
    font-weight: 600;
    font-size: 22px;
    color: white;

    cursor: pointer;
    
    border: 0px solid $black-color;
    box-sizing: content-box;
    
    position: relative;
    outline: none;
    overflow: hidden;

    transition: font-size .5s;
    z-index: 10;
}

.tabs:not(:last-child){
    border-right: 1px solid $black-color;
}

.active-tabs  {
    background: rgb(39, 39, 39);
    color: white;
    font-size: 29px;
    border: 0px solid $black-color;
    transition: font-size .5s;
    height: 4rem;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    border: 0px solid $black-color;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 5px;
    background: transparent;
    animation: activeTabsBeforeAnimation 2s ease-in-out forwards;

    @keyframes activeTabsBeforeAnimation {
        to {
            width: calc(100% + 2px);
            background: white;
        }
    }
}

button {
    border: none;
}

.content-tabs {
    flex-grow : 1;
}

.content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.0);

    .content-title {
        @keyframes titleAnimationIn {
            from {
                opacity: 0;
                transform: translateY(100px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        
        transition: all .7s;

        color: white;
        font-size: 40px;
        padding: 5px 0px 5px 0px;
        margin-bottom: 20px;
        border-radius: 5px;
        
        transform: translateY(0px);
    }

    hr {
        width: 100px;
        height: 2px;
        background: #222;
        margin-bottom: 5px;
    }

    p {
        width: 100%;
        height: 100%;
    }
}

.active-content {
    @keyframes content-animation {
        from {
            transform: translateY(0px);
        }
        
        to {
            transform: translateY(-100%);
        }
    }
    display: block;
    animation: content-animation 8s ease-in-out forwards 3s;
    position: absolute;
    z-index: 1;
}

#HeaderImage {
    background: transparent;
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    z-index: 0;
  }